*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    border-radius: 32px;
}

a{
    width: 100%;
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 32px;
}

main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    background-color: white;
    color: black;
    overflow: hidden;
}

.ProjectList>a:hover{
    scale: 1.009;
}

.TodoBox{
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FirstContainer, .ProjectList{
    width: 300px;
    height: 600px;
    padding: 16px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: start;
}

.SecondContainer{
    width: 300px;
    height: 600px;
    padding: 16px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: start;
}